@import "../../../assets/scss/variables";
.we__are {
  min-height: 400px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
    padding-bottom: 60px;
  }

  .we__are__container {
    max-width: 940px;
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
    display: grid;
    // background: red;
    text-align: center;
    @media screen and (max-width: 1980px) {
      max-width: 880px;
    }
    @media screen and (max-width: 1440px) {
      max-width: 800px;
    }
    @media screen and (max-width: 1280px) {
      max-width: 750px;
    }

    h2 {
      font-family: "Playfair Display", serif;
      font-size: 3.5rem;
      font-weight: 700;
      max-width: 350px;
      text-align: center;
      margin: auto;

      @media screen and (max-width: 1980px) {
        font-size: 3.2rem;
        max-width: 320px;
      }
      @media screen and (max-width: 1440px) {
        font-size: 3rem;
        max-width: 300px;
      }
      @media screen and (max-width: 1280px) {
        max-width: 290px;
      }
      @media screen and (max-width: 768px) {
        font-size: 2.8rem;
      }
    }

    .separator {
      display: block;
      width: 70px;
      height: 10px;
      background: #000;
      margin: 35px auto 45px auto;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      word-spacing: 0.4rem;
      
      @media screen and (max-width: 1980px) {
        font-size: 1.4rem;
      }
      @media screen and (max-width: 1440px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 1280px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.05rem;
      }

      .strong {
        font-weight: 600;
      }
    }
  }
}

// .video {
//   max-width: 1000px;
//   width: 100%;
//   border-radius: 20px;
// }
