@import "../../../assets/scss/variables";

.navbar {
  background: $background__color;
  width: 100%;
  padding: 20px 0;
  position: relative;

  &__container {
    max-width: 2300px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
      max-width: 200px;
      width: 100%;
      height: 100%;
      object-fit: contain;

      @media screen and (max-width: 1550px) {
        max-width: 180px;
      }
      @media screen and (max-width: 1440px) {
        max-width: 150px;
      }
      @media screen and (max-width: 620px) {
        max-width: 120px;
      }
    }

    .right__content {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      font-weight: 600;
      gap: 40px;

      @media screen and (max-width: 1440px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 1080px) {
        a {
          display: none;
        }
      }

      // background: rgba(255, 255, 255, 0.5);
      // padding: 10px 30px;
      // border-radius: 20px;
      // position: fixed;
      // right: 40px;
      // z-index: 2;

      .button__planning__trip {
        background: #3d9044;
        color: #fff;
        padding: 15px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        @media screen and (max-width: 1440px) {
          padding: 11px 20px;
        }
        @media screen and (max-width: 1080px) {
          display: none;
        }
      }
      .menu__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;

        .menu__bars {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 7px;
          width: 40px;
          height: 40px;

          .bar {
            display: flex;
            width: 100%;
            height: 3px;
            background: #000;
          }
        }
      }
    }

    .responsive__menu {
      display: none;

      @media screen and (max-width: 1080px) {
        display: flex;
        position: fixed;
        background: #fff;
        max-width: 400px;
        width: 100%;
        right: 0;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        flex-direction: column;
        padding-top: 80px;
        gap: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
        overflow: auto;
        padding-bottom: 40px;
        transform: translateX(120%);
        transition: transform .3s ease-in-out;

        &.show {
          transform: translateX(0%);
          transition: transform .3s ease-in-out;
        }

        .close__btn {
          width: 50px;
          height: 50px;
          font-size: 2.3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          color: #bbbbbb;
          cursor: pointer;
        }

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 1px solid #f3f3f3;
          width: 100%;
          padding: 24px 10px;
          font-size: 1.2rem;

          &:last-child {
            border-bottom: 1px solid #f3f3f3;
          }
        }
        .button__planning__trip {
          background: #3d9044;
          color: #fff;
          padding: 15px 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          margin-top: 20px;
          font-size: 1.2rem;
        }

        .networking {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          margin-top: 30px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-width: 42px;
          }
        }
      }
    }
  }
}
